// _reset.scss
@use '../abstracts/variables' as vars;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: vars.$font-family;
    font-size: vars.$font-size-base;
    line-height: 1.6;
    color: vars.$text-color;
    background-color: vars.$background-color;
  }
  