// src/assets/scss/base/_typography.scss
@use '../abstracts/variables' as vars;

body {
  height: 100%;
  background-color: #f5f5f5;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: vars.$spacing-unit;
  line-height: 1.2;
}


a {
  color: vars.$primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


// @_grid with Flex and otherClass dynamic
.ssbr_fuild {
  width: 100%;
  margin: auto;
}

.ssbr {
  width: 85%;
  margin: auto;
}


.error {
  color: red;
  font-size: 0.8rem;
}