@use '../abstracts/variables' as vars;

.margin-sm {
    margin: vars.$spacing-unit;
  }
  
  .margin-md {
    margin: vars.$spacing-unit * 2;
  }
  
  .margin-lg {
    margin: vars.$spacing-unit * 4;
  }
  