<!-- ================= Home Page ================= -->
@if (showElement){
<div class="homepage">
    <!-- Navigation Bar -->
    <app-menu-card></app-menu-card>
    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <h1>🚀NPM Packages</h1>
            <p>Powerful, lightweight, and developer-friendly NPM packages to boost your productivity.</p>
            <br>
            <a href="/sc-angular-snippets" class="btn-primary">Explore Packages</a>
        </div>
    </section>

    <!-- Featured Packages -->
    <section id="packages" class="packages">
        <div class="container">
            <h2>📦 Featured Packages</h2>
            <div class="package-grid">

                <!-- Example Card -->
                @for (pkg of NPM_packages; track pkg.name) {
                <div class="package-card">
                    <h3>{{ pkg.name }}</h3>
                    <p>{{ pkg.desc }}</p>
                    <div class="meta">
                        <span>Version: {{ pkg.version }}</span>
                        <span>★ {{ pkg.downloads }} downloads</span>
                    </div>
                    <a [href]="pkg.link" target="_blank" class="btn-secondary">View on NPM</a>
                    <a [routerLink]="['/npm-package', pkg.linkStatic.replace('/', '')]" class="btn-primary">View on
                        Page</a>
                </div>
                }

            </div>
        </div>
    </section>


    <section class="packages">
        <div class="container">
            <h2>💎 Premium Packages</h2>
            <div class="cards">
                <div class="card premium">
                    <div class="icon">🔐</div>
                    <h3>angular-advanced-auth</h3>
                    <p>Complete auth system with JWT & guards.</p>
                </div>
                <div class="card premium">
                    <div class="icon">📋</div>
                    <h3>form-builder-pro</h3>
                    <p>Drag & drop Angular form builder with validations.</p>
                </div>
                <div class="card premium">
                    <div class="icon">⚡</div>
                    <h3>seo-meta-generator</h3>
                    <p>Auto-generate SEO tags for Angular apps.</p>
                </div>
            </div>
        </div>
    </section>

    <app-global-contact></app-global-contact>
    <!-- Footer -->
    <app-footer-card> </app-footer-card>

</div>
}@else {
<router-outlet></router-outlet>
}