<nav class="navigation">
  <div class="nav-container">
    <!-- Logo Section -->
    <div class="nav-brand">
      <div class="logo" routerLink="/">
        <div class="logo-icon"><img src="/assets/images/global/logo.svg" alt=""></div>
        <span class="brand-name">
          <span class="logo-title">DevTools Hub</span>
          <span class="sub-title">by Satendra Coder</span>
        </span>

      </div>
    </div>

    <!-- Navigation Menu -->
    <div class="nav-menu" [class.mobile-open]="isMobileMenuOpen">
      <div class="nav-items">

        <!-- Dynamic Menu Items -->
        @for (item of menuItems; track item) {
        <div class="nav-item" [class.active]="activeDropdown === item.label">
          <span class="nav-link"
            (click)="item.hasDropdown ? toggleDropdown(item.label) : closeMobileMenu(); $event.stopPropagation()">

            {{ item.label }}
            @if (item.hasDropdown) {
            <svg class="dropdown-arrow" [class.rotated]="activeDropdown === item.label" width="12" height="8"
              viewBox="0 0 12 8" fill="none">
              <path d="M1 1L6 6L11 1" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            }
          </span>
          <!-- Dropdown Menu -->
          @if (item.hasDropdown && activeDropdown === item.label) {
          <div class="dropdown-menu" (click)="$event.stopPropagation()">
            <div class="dropdown-content">
              @for (dropdownItem of item.dropdownItems; track dropdownItem) {
              <a href="#" class="dropdown-item"
                (click)="$event.preventDefault(); $event.stopPropagation(); closeMobileMenu()">
                <a [routerLink]="dropdownItem?.link"> {{ dropdownItem?.name }}</a>
              </a>
              }
            </div>
          </div>
          }
        </div>
        }


        <app-c-theme-toggle [selectedTheme]="selectedTheme" (themeChanged)="onThemeChange($event)"></app-c-theme-toggle>

        <app-sc-button variant="primary" label="Build Your Future" (scClick)="callBack()">
        </app-sc-button>

      </div>
    </div>


    <!-- Mobile Menu Toggle -->

    <button class="mobile-menu-toggle" (click)="toggleMobileMenu()" [class.active]="isMobileMenuOpen">

      @if (!isMobileMenuOpen) {
      <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.8em" height="1.8em">
        <path
          d="M408 442h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8zm-8 204c0 4.4 3.6 8 8 8h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56zm504-486H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zm0 632H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zM115.4 518.9L271.7 642c5.8 4.6 14.4.5 14.4-6.9V388.9c0-7.4-8.5-11.5-14.4-6.9L115.4 505.1a8.74 8.74 0 000 13.8z">
        </path>
      </svg>
      } @else {
      <svg xmlns="http://www.w3.org/2000/svg" height="1.8rem" viewBox="0 -960 960 960" width="1.8em"
        fill="currentColor">
        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
      </svg>
      }
    </button>


  </div>

  <!-- Mobile Menu Overlay -->
  <div class="mobile-overlay" [class.active]="isMobileMenuOpen" (click)="closeMobileMenu()"></div>
</nav>