.home-page-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0rem; // space between components (adjust as needed)
  // Responsive alignment
  align-items: stretch; // or center if you want centered narrow layout
}
