<aside class="sidebar" [class.open]="isOpen">
    <h2>HTML Tutorial</h2>
    <ul>
        <li><a (click)="closeSidebar()">Introduction</a></li>
        <li><a (click)="closeSidebar()">HTML BASIC TAGS</a></li>
        <li><a (click)="closeSidebar()">INLINE & BLOCK ELEMENTS</a></li>
        <li><a (click)="closeSidebar()">HTML LISTS</a></li>
        <li><a (click)="closeSidebar()">HTML TABLES</a></li>
        <li><a (click)="closeSidebar()">HTML FORMS</a></li>
        <li><a (click)="closeSidebar()">HEAD ELEMENTS</a></li>
        <li><a (click)="closeSidebar()">Introduction</a></li>
        <li><a (click)="closeSidebar()">HTML BASIC TAGS</a></li>
        <li><a (click)="closeSidebar()">INLINE & BLOCK ELEMENTS</a></li>
        <li><a (click)="closeSidebar()">HTML LISTS</a></li>
        <li><a (click)="closeSidebar()">HTML TABLES</a></li>
        <li><a (click)="closeSidebar()">HTML FORMS</a></li>
        <li><a (click)="closeSidebar()">HEAD ELEMENTS</a></li>
        <li><a (click)="closeSidebar()">Introduction</a></li>
        <li><a (click)="closeSidebar()">HTML BASIC TAGS</a></li>
        <li><a (click)="closeSidebar()">INLINE & BLOCK ELEMENTS</a></li>
        <li><a (click)="closeSidebar()">HTML LISTS</a></li>
        <li><a (click)="closeSidebar()">HTML TABLES</a></li>
        <li><a (click)="closeSidebar()">HTML FORMS</a></li>
        <li><a (click)="closeSidebar()">HEAD ELEMENTS</a></li>
    </ul>
</aside>