@use '../abstracts/variables' as vars;

.button {
    display: inline-block;
    padding: vars.$spacing-unit vars.$spacing-unit * 2;
    border: none;
    border-radius: vars.$border-radius;
    background-color: vars.$primary-color;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &--secondary {
      background-color: vars.$secondary-color;

    }
  }


/* @_btn_primary color and bg coulor and hover */
// .btn_primary {
//   padding: 0.5rem 1rem;
//   background-color: var(--secondary-background);
//   color: var(--text-color);
//   border: none;
//   border-radius: 15px;
//   transition: 0.3s all ease-in;
//   border: .5px solid var(--text-color);
//   &:hover {
//       // background-color: #26a69a;
//       cursor: pointer;
//       transform: scale(1.1);
//       color:var(--text-color) !important;
//   }
// }

.btn_primary {
  padding: 0.5rem 1.2rem;
  background-color: var(--secondary-background);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  transition: 0.3s all ease-in;
  border: 0.5px solid var(--text-color);
  position: relative;
  overflow: hidden;
  z-index: 1 !important; // Ensure the text remains above the pseudo-element


  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--text-color) !important;
  }
}

.btn_secondary {
  padding: 0.5rem 1.2rem;
  background-color: var(--secondary-background);
  color: var(--text-color);
  border: none;
  border-radius: 25px;
  transition: 0.3s all ease-in;
  border: 0.5px solid var(--text-color);
  position: relative;
  overflow: hidden;
  z-index: 1 !important; // Ensure the text remains above the pseudo-element


  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--text-color) !important;
  }
}

