@use '../abstracts/variables' as vars;

.card {
    border: 1px solid #ddd;
    border-radius: vars.$border-radius;
    background-color: #fff;
    padding: vars.$spacing-unit * 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    &__header {
      font-weight: bold;
      margin-bottom: vars.$spacing-unit;
    }
  
    &__body {
      font-size: vars.$font-size-base;
      color: vars.$text-color;
    }
  }
  