.technical-skills {
  background: var(--secondary-background);
  padding: 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);

  .container {
    max-width: 1300px;
    width: 100%;
    margin: 10px auto;
  }

  .header {
    text-align: left;
    margin-bottom: 2rem;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;
      letter-spacing: -0.02em;
      background: linear-gradient(135deg, #f97316, var(--text-color));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      position: relative;

      @media (max-width: 768px) {
        font-size: 2.2rem;
      }

      @media (max-width: 480px) {
        font-size: 1.8rem;
      }
    }

    .subtitle {
      font-size: 0.8rem;
      line-height: 1.6;
      color: #9ca3af;

      @media (max-width: 768px) {
        font-size: 1rem;
        padding: 0 1rem;
      }

      @media (max-width: 480px) {
        font-size: 0.95rem;
      }
    }

    .header-right {
      a {
        text-decoration: none;

        &:hover {
          background: linear-gradient(135deg, #0891b2, #0e7490);
          transform: translateY(-1px);
          box-shadow: 0 4px 8px rgba(6, 182, 212, 0.3019607843);
          color: #fff;
        }
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .category-card {
    background: var(--background-color);
    border: 1px solid #2a2a2a;
    border-radius: 12px;
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:hover {
      background: linear-gradient(135deg, #0891b2, #0e7490);
      transform: translateY(-1px);
      box-shadow: 0 4px 8px #06b6d44d;
      color: #fff !important;

      .info {
        color: #fff !important;
      }
    }

    .icon {
      font-size: 2rem;
      background: var(--secondary-background);
      color: var(--text-color);
      border-radius: 10px;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    .info {
      h3 {
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0;
        color: var(--text-color);
      }

      p {
        font-size: 0.7rem;
        color: var(--text-color);
        margin-top: 0.4rem;
        line-height: 1.4;
      }
    }
  }
}
