<app-menu-card></app-menu-card>
<app-blog-banner></app-blog-banner>
<div class="home">
  <div class="blog-grid">
    @for (blog of paginatedBlogs; track blog) {
    <div class="blog-card" (click)="openBlog(blog.id)">
      <img [src]="blog.imageUrl" alt="{{ blog.title }}" class="blog-image" />
      <div class="category-badge">{{ blog.category }}</div>
      <div class="blog-top-read">
        <span class="author">{{ blog.readTime }} min read</span>
        <div>
          @for (tag of blog.tags.slice(0, 2); track tag) {
          <span class="tag-name">{{ tag }}</span>
          }
        </div>
      </div>
      <div class="blog-card-body">
        <h3>{{ blog.title }}</h3>
        <p>{{ blog.excerpt }}</p>
      </div>
      <div class="blog-card-footer">
        <div class="meta">
          <span class="author">{{ blog.author }}</span>
          <span class="date">{{ blog.publishDate | date:'d MMM, y' }}</span>
        </div>
        <span class="read-more">Read More →</span>
      </div>
    </div>
    }
  </div>

  <!-- Pagination -->
  <ul class="pagination">
    <li (click)="prevPage()" [class.disabled]="currentPage === 1">Previous</li>

    @for (page of pages; track page) {
    <li [class.active]="page === currentPage" (click)="page > 0 && goToPage(page)">
      @if (page > 0) {
      <span>{{ page }}</span>
      }
      @if (page < 0) { <strong style="border: none;"><b>...</b></strong>
        }
    </li>
    }

    <li (click)="nextPage()" [class.disabled]="currentPage === totalPages">Next</li>
  </ul>

</div>

<app-global-contact></app-global-contact>
<app-footer-card></app-footer-card>